<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Add Shop Credentials</h4>

            </div>
        </div>
        <form [formGroup]="addshopcredentialsFormRegistration">

            <div class="row">

                <div class="col-sm-4">
                    <label for="">Shop Name </label>

                    <select name="" id="" class="form-control" [(ngModel)]="sname" [ngClass]="{ 'is-invalid': submitted && f.sname.errors }" formControlName="sname">
                        <option value="" disabled selected>Choose a option </option>
                        <option value="">Adhitya</option>
                        <option value="">Blackforest</option>
                        <option value="">Anandbhavan</option>
                        <option value="">Hangout 514</option>
                        <option value="">Murali</option>
                    </select>
                    <div *ngIf="submitted && f.sname.errors" class="invalid-feedback">
                        <div *ngIf="f.sname.errors.required">Shop name is required</div>

                    </div>
                </div>


                <div class="col-sm-4">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder=" Enter the Password "
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="password"
                        formControlName="password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="">Location </label>

                    <select name="" id="" class="form-control" [(ngModel)]="location"
                        [ngClass]="{ 'is-invalid': submitted && f.location.errors }" formControlName="location">
                        <option value="" disabled selected>Choose a option </option>
                        <option *ngFor="let result of result" value="{{result._id}}">{{result.location}}</option>
                    </select>
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required</div>

                    </div>
                </div>




                <div class="col-sm-12">
                    <!-- <button class="btn btn-warning" (click)="submit()">SUBMIT</button> -->
                    <button class="btn btn-warning" (click)="submit()" [disabled]="isLoading"><i class="fa"
                            [ngClass]="{' fa-spinner fa-spin': isLoading, 'fa-check': !isLoading}"></i>
                        {{button}}</button>
                </div>

            </div>
        </form>
    </div>

</div>