<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">

    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">CHAT BOX</h4>

            </div>

            <div class="col-sm-4">
                <button class="btn btn-danger" style="float: right;" routerLink="/add-chat-box"> Add Chat Messages</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <mat-table [dataSource]="dataSource" matSort>




                    <!-- Location Column -->
                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.menuname}}% </mat-cell>
                    </ng-container>


                    <!--Messages Column -->
                    <ng-container matColumnDef="messages">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Messages </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.purchaserate}} </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator></mat-paginator>
            </div>
        </div>
    </div>
</div>