<!-- <div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo">

            </a>
        </div>


    </div>
</div> -->

<div style="background-image: url('./assets/img/login_About.jpg');background-size: cover;background-repeat:no-repeat;height:700px;">

    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box" style="float: left;">
                    <!-- <form class="form-signin" [formGroup]="loginForm"> -->
                    <div class="account-logo">
                        <a><img src="assets/img/Qboy.png" alt="">
                            <h3>QBOY LOGIN</h3>
                        </a>
                    </div>
                    <div class="form-group">
                        <label>Username </label>
                        <input type="text" [(ngModel)]="userName" autofocus="" class="form-control">
                        <!-- <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">Username is required</div>
                    </div> -->
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" [(ngModel)]="password" class="form-control">
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div> -->
                    </div>



                    <div class="form-group text-center">
                        <button class="btn btn-danger" (click)="Masteradminlogin()">Login</button>
                        <!-- <button class="btn btn-success" (click)="shopadmin()"></button> -->
                    </div>


                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>(c) DEVELOPED AND MAINTAINED BY SATMAYA DIGITAL SOLUTIONS</p>
</div>