<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Pincodes</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <label for="">Pincode</label>
                <input type="number" class="form-control" placeholder="Enter Your Pincode">
            </div>

            <div class="col-sm-12">
                <button class="btn btn-warning">SUBMIT</button>
           </div>

       </div>
   </div>
</div>
