<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">

    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Store Locations</h4>

            </div>

            <div class="col-sm-4">
                <button class="btn btn-danger" style="float: right;" routerLink="/addpincodes"> Add Location</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row;let i = index;"> L{{i+1}} </mat-cell>
                    </ng-container>

                    <!--Location Column -->
                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator></mat-paginator>
            </div>
        </div>
    </div>
</div>